.card {
  background: #FAFAFA;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  padding: 15px;
  transform: rotateX(-90deg) perspective(500px);
  transform-style: preserve-3d;
  opacity: 0;
  z-index: -1;
}

.Swell-card {
  animation: flip-in 500ms cubic-bezier(.17,.67,.16,.99) forwards;
}

.Conditions-card {
  animation: flip-in 500ms 70ms cubic-bezier(.17,.67,.16,.99) forwards;
}

.Tide-card {
  animation: flip-in 500ms 140ms cubic-bezier(.17,.67,.16,.99) forwards;
}

@keyframes flip-in {
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.card-name {
  text-align: right;
  font-style: italic;
  color: rgba(0,0,0,0.54);
  font-size: .875em;
}

.card-contents {
  margin-bottom: .875em;
}

.card-contents p .direction {
  color: rgba(0,0,0,0.54);
  font-weight: 200;
}

.card-contents p .arrow-span {
  margin-left: 8px;
}

.card-contents .arrow {
  fill: rgba(0,0,0,0.54);
}

h2 {
  margin-bottom: 5px;
}