.conditions {
  font-size: 2em;
}

.conditions-details {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}