.options-page {
  padding: 16px;
  margin: 0 auto;
  text-align: center;
}

.options-page h1 {
  font-size: 3em;
  line-height: 1.8em;
}

.about-click {
  display: inline-block;
  font-size: 0.7em;
  color: rgba(0,0,0,.28);
  margin-top: 20px;
  cursor: pointer;
}

.about {
  position: relative;
  margin: 10px auto;
  box-sizing: border-box;
  width: 250px;
  padding: 10px;
  font-size: 0.7em;
  line-height: 1.4em;
  color: rgba(255,255,255,0.87);
  background-color: rgba(0,0,0,0.54);
}

.about::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0,0,0,0.54);
  position: absolute;
  top: -5px;
  left: -2.5px;
  margin-left: 50%;
}

.about a {
  color: #5EA8FF;
  text-decoration: none;
}