form {
  max-width: 300px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
}

select {
  font-size: 1em;
  color: rgba(0,0,0,0.87);
}

option[value="area"] {
  background: #EEE;
  font-weight: 600;
  color: rgba(0,0,0,0.93);
}

form button {
  padding: 4px;
  background-color: #5EA8FF;
  color: rgba(255,255,255,0.87);
  border: none;
  cursor: pointer;
  transition: 100ms 30ms;
}

form button:hover {
  /* background-color: #6eb0ff; */
  box-shadow: 0 3px 4px -2px rgba(0,0,0,0.24)
}